<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenpilotToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenpilotToolkit.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportFolder" serializeAs="String">
                <value>D:\OpenPilot</value>
            </setting>
            <setting name="GithubToken" serializeAs="String">
                <value />
            </setting>
            <setting name="CombineSegments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrontCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WideCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OsmUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="OsmPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OsmToken" serializeAs="String">
                <value />
            </setting>
        </OpenpilotToolkit.Properties.Settings>
    </userSettings>
</configuration>